<div class="header">
    <div class="logo-wrap"> <a href="{pboot:sitedomain}/" title="{pboot:sitetitle}" class="logo-img-wrap"><img src="{pboot:sitelogo}" alt="{pboot:sitetitle}" class="logo">
      <h2></h2>
      </a> 
      <!-- <div class="sub-title">网站描述</div> --> 
    </div>
    <div class="menu-header-container">
      <ul class="menu">
        <li class="navbar-item  current-menu-item"><a href="{pboot:sitedomain}/" title=""><i class="mico-home"></i>首页</a></li>
        {pboot:sort scode=1}<li class="navbar-item "><a href="[sort:link]" title="[sort:name]"><i class="mico-tuwen"></i>[sort:name]</a></li>{/pboot:sort}
        {pboot:sort scode=4}<li class="navbar-item "><a href="[sort:link]" title="[sort:name]"><i class="mico-zhitu"></i>[sort:name]</a></li>{/pboot:sort}
        {pboot:sort scode=7}<li class="navbar-item "><a href="[sort:link]" title="[sort:name]"><i class="mico-qipao"></i>[sort:name]</a></li>{/pboot:sort}
      </ul>
    </div>
    <div class="wx-code"> <i class="mcico mico-erweima"></i> 扫一扫 <img src="{pboot:companyweixin}" alt="扫一扫" class="wx-code-img"> </div>
  </div>