<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,maximum-scale=1">
<title>{pboot:if('{sort:title}'=='')}{pboot:pagetitle}{else}{sort:title}{/pboot:if}</title>
<meta name="keywords" content="{pboot:if('{sort:keywords}'=='')}{pboot:pagekeywords}{else}{sort:keywords}{/pboot:if}">
<meta name="description" content="{pboot:if('{sort:description}'=='')}{pboot:pagedescription}{else}{sort:description}{/pboot:if}">
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{pboot:sitedomain}/skin/css/style.css" rel="stylesheet" media="screen" type="text/css" />
<script language="javascript" type="text/javascript" src="{pboot:sitedomain}/skin/js/jquery-2.2.4.min.js"></script>
</head>
<body>
<div class="box-wrap"> 
{include file=head.html}
  <div class="main">
    <div class="top-bar">
      <div class="crumbs"> {pboot:position} </div>
      <form method="get" action="{pboot:scaction}"  class="search-form">
        <button class="mcico mico-search" type="submit"> </button>
        <input type="text" class="search-input" name="keyword" placeholder="输入关键词，回车搜索..."/>
      </form>
    </div>
    <div class="post-wrap">
      <div class="post-header">
        <h1 class="post-title">留言</h1>
      </div>
      <div class="post-content">
        <p>有什么建议和意见可在此处留言！</p>
      </div>
      <div class="comments">
        <div class="postcomm block-wrap" id="divCommentPost">
          <h2 class="block-title"> 发表留言 </h2>
          <form action="{pboot:msgaction}"  method="post">
            <div class="comment-box comment-ul3">
              <input type="text" name="contacts" id="name" class="text" value="" tabindex="1" placeholder="称呼(*)">
            </div>
            <div class="comment-box comment-ul3 comment-ul3-2">
              <input type="text" name="email" id="" class="text" value="" tabindex="2" placeholder="邮箱">
            </div>
            <div class="comment-box comment-ul3">
              <input type="text" name="mobile" id="tel" class="text" value="" tabindex="3" placeholder="电话">
            </div>
            <div class="comment-box comment-textarea">
              <textarea name="content" id="" class="text" cols="50" rows="4" tabindex="4" placeholder="留言内容"></textarea>
            </div>
            <!-- 验证码开始 -->
            <div class="comment-box comment-verify">
              <input type="text" name="checkcode" class="text" placeholder="图片验证码"/>
              <img  src="{pboot:checkcode}" onclick="this.src='{pboot:checkcode}?'+Math.round(Math.random()*10);"  title="看不清？点击更换验证码" style="margin-left: 2px;width: 80px;height: 35px;" /> </div>
            <input type="submit" value="提交留言" class="sub" id="tj">           
          </form>
        </div>
      </div>
    </div>
  </div>
  {include file=right.html}
</div>
</div>
{include file=foot.html}
<script>
	$(function(){
		$('#tj').click(function(){
			//alert(1)
			if($('#name').val()==''){alert('请输入您的姓名！'); $("#name").focus(); return false;}
			if ($("#tel").val() == "") { alert("请输入你的手机！"); $("#tel").focus(); return false; } 
			if (!$("#tel").val().match(/^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(16[0-9]{1})|(17[0-9]{1})|(18[0-9]{1})|(19[0-9]{1}))+\d{8})$/)) { alert("手机号码格式不正确！"); $("#tel").focus(); return false;} 
		})
	})
</script>
</body>
</html>