<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,maximum-scale=1">
<title>{content:title}-{pboot:sitetitle}</title>
<meta name="keywords" content="{content:keywords}">
<meta name="description" content="{content:description}">
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{pboot:sitedomain}/skin/css/style.css" rel="stylesheet" media="screen" type="text/css" />
<script language="javascript" type="text/javascript" src="{pboot:sitedomain}/skin/js/jquery-2.2.4.min.js"></script>
</head>
<body>
<div class="box-wrap"> {include file=head.html}
  <div class="main">
    <div class="top-bar">
      <div class="crumbs"> {pboot:position} </div>
      <form method="get" action="{pboot:scaction}"  class="search-form">
        <button class="mcico mico-search" type="submit"> </button>
        <input type="text" class="search-input" name="keyword" placeholder="输入关键词，回车搜索..."/>
      </form>
    </div>
    <div class="post-wrap">
      <div class="post-header">
        <h1 class="post-title">{content:title}</h1>
        <div class="post-meta">
          <ul class="post-categories">
            <li><a href="{sort:link}">{sort:name}</a></li>
          </ul>
          <span>{content:date style=Y-m-d} </span> <span><i class="mcico mico-huo"></i> {content:visits}</span>
          <div class="tag-wrap post-header-tags">{pboot:tags id={content:id} target=tag}<a href="[tags:link]">[tags:text]</a>{/pboot:tags} </div>
        </div>
      </div>
      <div class="post-content maximg"> {content:content} </div>
      <div class="single-nepr">
        <div class="entry-page-prev lazy" style="background-image: url({content:preico})"> <a href="{content:prelink}" title="{content:pretitle}"><span>{content:pretitle}</span></a>
          <div class="entry-page-info"><span class="pull-left">« 上一篇</span></div>
        </div>
        <div class="entry-page-next lazy" style="background-image: url({content:nextico})"> <a href="{content:nextlink}" title="{content:nexttitle}"><span>{content:nexttitle}</span></a>
          <div class="entry-page-info"><span class="pull-right">下一篇 »</span></div>
        </div>
      </div>
      <div class="block-wrap single-relative">
        <h2 class="block-title"> 更多相关文章 </h2>
        <div class="post-list">
        {pboot:list scode={sort:scode} num=6}
        <li><a href="[list:link]">[list:title]</a></li>
        {/pboot:list}
        </div>
      </div>
      
    </div>
  </div>
  {include file=right.html} </div>
</div>
{include file=foot.html}
</body>
</html>