<div class="aside">
    <div class="block-wrap" id="side-top-ddt">
      <h2 class="block-title">大图推荐<i class="mcico mico-right"></i></h2>
      <div class="mcdas"> 
        {pboot:list num=5 scode=* page=0 isrecommend=1}
        <a href="[list:link]" class="photo-item photo-ddt" target="_blank"><img src="[list:ico]" alt="[list:title]" class="photo-item-img hover-scale">
        <div class="photo-item-inner">
          <h3 class="photo-item-title">[list:title]</h3>
        </div>
        </a>
        {/pboot:list}
        </div>
    </div>
    <div class="block-wrap" id="side-top-ll">
      <h2 class="block-title">最新发布<i class="mcico mico-right"></i></h2>
      <div class="mcdas"> 
      {pboot:list scode=* num=6 order=sorting}
      <a href="[list:link]" class="front-end-item" title="[list:title]"> <img src="[list:ico]" alt="[list:title]" class="front-end-item-img hover-scale"> <span class="front-end-item-text">[list:title]</span> </a>
      {/pboot:list}
      </div>
    </div>
    <div class="block-wrap" id="side-hot-cmt-item">
      <h2 class="block-title">热门文章<i class="mcico mico-right"></i></h2>
      <ul>
        {pboot:list scode=* num=5 order=visits}
        <li class="mclas">
          <div class="list-img"><a href="[list:link]" target="_blank"><img src="[list:ico]" alt="[list:title]" class="hover-scale"></a></div>
          <div class="list-content"><a title="[list:title]" target="_blank" href="[list:link]">
            <h3>[list:title]</h3>
            </a><span class="post-date">[list:date style=Y-m-d]</span></div>
        </li>
        {/pboot:list}
      </ul>
    </div>
    <div class="block-wrap" id="divTags">
      <h2 class="block-title">标签列表<i class="mcico mico-right"></i></h2>
      <ul>
        {pboot:tags num=20}
        <li><a title="[tags:text]" href="[tags:link]">[tags:text]</a></li>
        {/pboot:tags}
      </ul>
    </div>
  </div>
  <link href="{pboot:sitedomain}/skin/css/slider.css" rel="stylesheet" media="screen" type="text/css" />
  <script language="javascript" type="text/javascript" src="{pboot:sitedomain}/skin/js/slider.js"></script> 